html
        head
                title KPMG SOFY Login
                link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
                link( href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all", rel="stylesheet", type="text/css")
                link( href="icons/favicon.ico", rel="shortcut icon", type="image/ico")
                include style.html

        body

        block content
        block scripts
